---
layout: default
---

<div class="tags">
  <h1>Tags</h1>
  <ul>
    {% for tag in site.tags %}
      <li><a href="{{ site.baseurl }}/tags/{{ tag[0] | slugify }}/">{{ tag[0] }} ({{ tag[1].size }})</a></li>
    {% endfor %}
  </ul>
</div>

<style>
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  margin: 0;
  padding: 20px;
}

.tags h1 {
  color: #000;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.tags ul {
  list-style: none;
  padding: 0;
}

.tags li {
  margin-bottom: 5px;
}

.tags a {
  color: #0066cc;
  text-decoration: none;
}

.tags a:hover {
  text-decoration: underline;
}
</style>